#specnum{
    /* background-image: linear-gradient(to right, rgb(73, 198, 214) , rgb(42, 54, 109)); */
    background-color:#CFEEF8; 
    height: 115px;
    color: #C1C1C2;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight:bold;
    /* border-radius: 0 533px 1186px 0px; */
    padding-left:10%;
    box-shadow: 3px 5px 10px 0px #e1e1e1;
  
}
#nucar{
  
    width: 390px;
    height:100%;
    border-radius: 10px;
    border: 1px solid   rgb(218, 218, 218);
    background-color: #FFFFFF;
    /* box-shadow: 4px 7px 16px 0px #e1e1e1; */
    box-shadow: 3px 4px 10px 0px #e1e1e1;
}
#numdercar1{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#p{
    margin-top: 2px;
    padding-left: 10px;
    font-weight: lighter;
    color:#002167;

}
#numbcar{
    width: 177px;
    margin-top: 1%;
    border: 1px solid #d4d1d1;
    border-radius: 2px;
}
#pri{
    text-align: center;
    /* background-image: linear-gradient(to right, rgb(73, 198, 214) , rgb(42, 54, 109)); */
    background-color: #002167;
    /* width: 50px; */
    height: 26%;
border-radius: 0 0 10px 10px;
color: white;
padding-top: 2%;
padding-bottom: 2%;
}    


