#footer{
    height: 60px;
    background-color:  rgb(207, 238, 248);
    color: rgb(86, 90, 129);
    border-top: 1px solid rgb(202, 204, 224);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#flexlang{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: flex-end; */
}
#imglang{
    width: 54px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;

  }
  #imglang1{
    cursor: pointer;
    width: 51px;
    height: 37px;
    /* margin-left: 10px; */
    border-radius: 50%;
    }