/* color: #D7DF23;
  color: white;
  border-bottom: 1px solid #D7DF23;
  transition: all .10s ease-in-out
  color: rgba(255, 255, 255, 0.753);
  border-color: rgba(255, 255, 255, 0.651);
  
 
  
   */
   .dropdown-content a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
}
   .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}
#logocars{
  width: 130px;
}
#navcolors{
  background-color:  #002167; 

}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #D7DF23;
  border-bottom: 1px solid #D7DF23;
}
@media(max-width:  991px) { 

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #D7DF23;
    border-bottom: none;
  }
 }


















































































































































































































































































































































































































































































































































